<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-action-demo:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_action_demo_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc-action-demo/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-action-demo" />
          <element id="module-output" name="spring-mvc-action-demo_main" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Gradle: org.springframework:spring-webmvc:5.0.5.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-context:5.0.5.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-aop:5.0.5.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-web:5.0.5.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-beans:5.0.5.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-expression:5.0.5.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-core:5.0.5.RELEASE" />
          <element id="library" level="project" name="Gradle: org.springframework:spring-jcl:5.0.5.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>